
h1{
background: -webkit-linear-gradient(#c5b5b5, #df3838);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}   
body{
    height: 100vh;
    margin: 0;
}


.weather-container {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: bold;
  border-bottom: 2px solid #999;
  padding-bottom: 10px;
  text-align: center;
  padding: 20px;
  background-color: #eff7ff;
  background: linear-gradient(to bottom, #6495ED, #A9A9A9);     
  height: 100%;
}

.weather-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.weather-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: background-color 0.3s ease;
}

.weather-card:hover {
  background-color: #f9f9f9;
}

.weather-card__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333333;
}

.weather-card__data {
  font-size: 36px;
  font-weight: bold;
  color: #666666;
}